Makefile.config
agar*.pc
agar*-config
config/
config.log
config.status
configure.lua
.depend
*.so
*.so.*
*.dll
*.exe
*.o
*.obj
*.res
*.lib
*.a
*.la
*.lo
*.dSYM
*.lnk
*.err
*.exp
*.map
*.orig
*~
*.swp
*.tmp
*.rej
tests/agartest
tests/agar-*-save.png
