# Default Agar-GUI stylesheet

AG_Widget {
	color: rgb(125,125,125);
	text-color: rgb(250,250,250);
	line-color: rgb(50,50,50);
}
AG_Widget#focused {
	color: rgb(120,120,120);
}
AG_Widget#disabled {
	color: rgb(160,160,160);
	line-color: rgb(70,70,70);
}
AG_Widget#hover {
	color: rgb(133,133,13);
	line-color: rgb(70,70,70);
}
AG_Widget#selected {
	color: rgb(50,50,120);
}

AG_Window {
	color: rgb(82,82,82);
	border-color: rgb(100,100,100);
}
AG_Titlebar {
	color: rgb(40,50,60);
}
AG_Titlebar#disabled {
	color: rgb(35,35,35);
}

AG_Tlist {
	color: rgb(125,125,125);
	color#selected: rgb(50,50,120);
}
AG_Tlist#selected {
	color: rgb(50,50,120);
	text-color: rgb(255,255,200);
}

AG_Notebook#selected {
	color: rgb(117,117,117);
}

AG_Console {
	color: rgb(0,0,30);
	color#hover: rgb(0,0,30);
	color#focused: rgb(0,0,30);
	color#selected: rgb(0,15,80);
	text-color: rgb(240,240,240);
}

AG_Editable#selected {
	color: rgb(0,0,100);
}

AG_Menu {
	color: rgb(70,70,70);
}
AG_Menu#selected {
	color: rgb(40,40,110);
	text-color: rgb(230,230,230);
}
AG_Menu#disabled {
	color: rgb(40,40,110);
	text-color: rgb(170,170,170);
}

AG_ProgressBar#selected {
	color: rgb(50,50,120);
	text-color: rgb(255,255,255);
}

AG_Radio {
	line-color: rgb(73,73,73);
	shape-color: rgb(36,36,36);
}
AG_Radio#selected {
	line-color: rgb(0,0,0);
	shape-color: rgb(36,36,36);
}
AG_Radio#hover {
	color: rgb(255,255,255,20);
	line-color: rgb(100,100,100);
}

AG_FixedPlotter {
	color: rgb(50,50,50);
	line-color: rgb(70,70,70);
}
