/*
 * Default Agar Stylesheet.
 *
 * Colors and font attributes of parents are inherited by default (unless
 * overridden by an instance Variable or matching stylesheet definition).
 * Padding and spacing attributes are not inherited by default.
 *
 * See: AG_StyleSheet(3) and "STYLE ATTRIBUTES" section of AG_Widget(3).
 */

AG_Widget {
	background-color: #0000;                   /* #RGBA */
	background-color#focused: #0000;
	background-color#disabled: #0000;
	background-color#hover: #0000;
}
AG_Window {
	background-color: #656565;                 /* #RRGGBB */
	background-color#focused: #666666;
}

AG_Box {
	padding: 2 3 2 3;                          /* top right bottom left */
	spacing: 3 2;                              /* horiz vert */
}
AG_Titlebar {
	font-size: 90%;
	color: rgb(40,50,60);
	color#disabled: rgb(35,35,35);
}
AG_Textbox {
	spacing: 5;
}

AG_Checkbox {
	spacing: 5;
	background-color#hover: rgb(80,80,120);
}
AG_Console {
	padding: 4;
	background-color: rgb(0,0,0);
	background-color#hover: rgb(0,0,30);
	background-color#focused: rgb(5,5,5);
	background-color#disabled: rgb(10,10,10);
	text-color: rgb(240,240,240);
}
AG_Button {
	padding: 5 10 5 10;
}
AG_Editable {
	background-color: #0000;
}
AG_Icon {
	spacing: 4 0;
}
AG_Label {
	padding: 2 6 2 6;
	background-color: #0000;
	background-color#focused: #0000;
}
AG_Menu {
	padding: 2 5 2 5;
	color: rgb(70,70,70);
	color#disabled: rgb(40,40,110);
	selection-color: rgb(40,40,110);
	text-color#disabled: rgb(170,170,170);
}
AG_MenuView {
	padding: 4 8 4 8;
	color: rgb(70,70,70);
	selection-color: rgb(40,40,110);
	color#disabled: rgb(40,40,110);
	text-color#disabled: rgb(170,170,170);
}
AG_Pane {
	line-color#hover: rgb(200,200,180);
}
AG_Radio {
	spacing: 1;
	background-color#hover: rgb(80,80,120);
}
AG_ProgressBar {
	font-family: league-gothic;
	font-size: 90%;
	padding: 2;
}
AG_Separator {
	padding: 4;
}
